@import './_components';

.nav {
	position: fixed;
	min-width: 100%;
	background-color: $mainColor;
	z-index: 100;
	box-shadow: 0px 0px 24px 0px rgb(51, 51, 51);

	&__logo {
		@include frcc;
		width: 100%;

		& img {
			object-fit: cover;
			width: 270px;
		}
	}

	&__icons {
		display: flex;
		@include fJcAi(flex-end, center);
		background-color: $mainColor;
		border-bottom: 1px solid #333;

		&__element {
			margin-right: 1em;
			padding: 0.5em;
			font-size: 3.2rem;
			color: $secondColor;
			cursor: pointer;

			&-hide {
				display: none;
			}
		}
	}

	&__menu {
		position: absolute;
		top: 175px;
		@include fd(column);
		align-items: center;
		width: 100%;
		min-height: 100vh;
		background-color: $secondColor;
		transform: translateX(-100%);
		opacity: 0;
		transition: transform 0.3s, opacity 0.3s;

		&-active {
			opacity: 1;
			transform: translateX(0);
		}

		&__item {
			margin: 0.8em;
			font-size: 2.6rem;
			font-weight: bold;
			color: $mainText;
			cursor: pointer;

			&:hover {
				color: $thirdColor;
			}
		}
	}
}

.header {
	padding-top: 17.4rem;

	&__img {
		@include frcc;
		position: relative;
		min-height: 200px;
		width: 100%;
		background-image: url(../img/header.jpg);
		@include imgCover;

		&::after {
			@include aContent;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			z-index: 0;
		}
	}

	&__title {
		position: relative;
		text-align: center;
		z-index: 1;
	}

	&__text--large {
		display: none;
	}

	&__text p {
		margin: 1em;
		color: $secondColor;
	}
}

.oferts {
	&__title {
		@include frcc;
		position: relative;
		height: 200px;
		width: 100%;
		background-image: url(../img/oferts.jpg);
		@include imgCover;

		&::after {
			@include aContent;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 0;
		}
	}

	&__cards {
		@include fccc;

		&__element {
			&__title {
				@include frcc;

				& h3 {
					margin-top: 2rem;
					font-size: 3rem;
					text-transform: uppercase;
					color: $secondText;
				}
			}
			&__text {
				@include frcc;
				& p {
					margin: 1em;
					color: $secondText;
				}
			}
		}
	}
}

.motto {
	&__img {
		@include frcc;
		position: relative;
		height: 300px;
		width: 100%;
		background-image: url(../img/pasja.jpg);
		@include imgCover;

		&::after {
			@include aContent;
			min-height: 300px;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: 0;
		}

		& p {
			padding: 1em;
			font-size: 3.2rem;
			font-weight: 500;
			z-index: 1;
		}
	}
}

.footer {
	margin-top: 5rem;
	background-color: $secondColor;

	&__menu {
		@include fccc;
		padding: 3rem 0;

		&__contact {
			display: flex;
			flex-wrap: wrap;
			@include fJcAi(flex-start, flex-start);
			margin: 2rem;

			&__number {
				@include fd(column);
				margin: 0 4rem 2rem 2rem;
			}

			& h3 {
				margin-bottom: 0.5em;
				font-size: 2.4rem;
			}
			& a {
				margin: 5px 0;
			}

			&__adres {
				@include fd(column);
				margin-left: 2em;
			}
		}

		&__icon {
			display: flex;
			margin: 2em;

			& a {
				margin: 1rem;

				& .fa-brands {
					font-size: 3rem;
				}
			}
		}
	}

	&__maps {
		& iframe {
			margin: 1rem 0;
			width: 100%;
		}
	}

	&__copyright {
		@include frcc;
		padding: 1em 0;

		& p {
			font-size: 1.6rem;
		}
	}
}

@import './_small';
@import './_medium';
@import './_large';
