* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$mainColor: #fff;
$secondColor: #292929;
$thirdColor: #cf3e2a;
$thirdColorhover: #cf3d2a81;
$mainText: #fff;
$secondText: #292929;

@mixin aContent {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 100%;
}

// flex row center (JC) center (AI)
@mixin frcc {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

// flex column center (JC) center (AI)
@mixin fccc {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

// flex & direction
@mixin fd($direction) {
	display: flex;
	flex-direction: $direction;
}

//flex justify-content & align-items
@mixin fJcAi($justify, $align) {
	justify-content: $justify;
	align-items: $align;
}

@mixin imgCover {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

html {
	font-family: 'Bebas Neue';
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
	scroll-padding-top: 86px;
	font-size: 62.5%;
}

body {
	background-color: #ddd;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

h3 {
	color: $mainText;
}

a {
	text-decoration: none;
	color: $mainText;
	font-size: 1.8rem;
	cursor: pointer;
}

p {
	color: $mainText;
	font-size: 1.8rem;
}

.icon {
	margin: 0.8rem;
	width: 3.5rem;
	transition: transform .3s;

	&:hover {
		transform: scale(1.1);
	}
}