@media (min-width: 768px) {
	html {
		scroll-padding-top: 80px;
	}

	.header {
		padding-top: 82px;
		&__text {
			padding: 2rem 0;
			margin: 0;
			width: 60%;
			letter-spacing: 2.5px;

			& p {
				font-size: 2.2rem;
			}
		}
	}

	.idea__section {
		min-height: 500px;
	}

	.idea {
		@include frcc;
		width: 100%;
		height: 100%;
		background-color: transparent;

		&__photo {
			@include fccc;
			width: 50%;
			height: 100%;
			order: 1;

			& img {
				margin: 2rem;
				max-width: 50rem;
				border-radius: 12px;
			}
		}

		&__area {
			justify-content: start;
			padding: 0 2rem;
			width: 50%;
			height: 500px;
			order: 2;

			& p {
				font-size: 2rem;
				letter-spacing: 2px;
			}

			& a .icon {
				width: 6rem;
			}
		}
	}

	.motto {
		&__img {
			& p {
				font-size: 2.8rem;
				letter-spacing: 4px;
			}
		}
	}

	.footer {
		&__menu {
			@include fccc;
			padding-top: 4rem;

			&__contact {
				@include fd(row);
				@include fJcAi(flex-start, flex-start);
				gap: 4rem;

				&__number {
					@include fd(column);
				}

				& h3 {
					font-size: 2.4rem;
				}

				&__adres {
					@include fd(column);
				}
			}

			&__society {
				display: flex;

				& .contact-element {
					& .fa-brands {
						font-size: 3rem;
					}
				}
			}
		}
	}
}
