@media (min-width: 576px) {

	.nav {

		& .wrapper {
			display: flex; 
		}
	
		&__logo {
			justify-content: flex-start; 
	
			& img {
				width: 160px; 
			}
		}
	
		&__menu__btn {
			&-element {
				display: none; 
			}
		}
	
		&__menu {
			display: none;
			position: relative; 
			top: 0; 
			flex-direction: row; 
			@include fJcAi (flex-end, center); 
			min-height: auto; 
			background-color: transparent; 
			transform: translateX(0); 
			opacity: 1; 
			transition: none; 
	
			&__item {
				margin: 0.8em;
				font-size: 1.6rem; 
				color: $secondText;

				&:first-child {
					margin: 0.8em;
				}
			}

			&-large{
			position: relative; 
			top: 0; 
			@include fd(row);
			@include fJcAi (flex-end, center);
			width: 100%; 
			min-height: auto; 
			background-color: transparent; 
			}
		}
	}

	.header {
		padding-top: 82px;  
	}

	.motto {
		&__img {
			& p {
				font-size: 2.6rem;
			}
		}
	}


}
