@use './_components' as *;

.nav {
	position: fixed;
	min-width: 100%;
	background-color: $mainColor;
	z-index: 100;
	box-shadow: 0px 0px 24px 0px rgb(51, 51, 51);

	&__logo {
		display: flex;
		@include fJcAi(space-between, center);
		width: 100%;

		& img {
			padding: 2rem;
			object-fit: cover;
			width: 150px;
		}
	}

	&__menu__btn {
		&-element {
			margin-right: 1em;
			padding: 0.3em 0.5em;
			font-size: 2rem;
			background-color: transparent;
			border: 1px solid $thirdColor;
			border-radius: 12px;
			color: $secondText;
			transition: background-color 0.3s;
			transform-origin: 0;
			cursor: pointer;

			&:hover {
				background-color: $thirdColor;
				color: $mainText;
			}
		}
	}

	&__menu {
		position: absolute;
		top: 0;
		@include fd(column);
		align-items: center;
		min-width: 100%;
		min-height: 100vh;
		background-color: $secondColor;
		transform: translateX(-100%);
		opacity: 0;
		transition: transform 0.3s, opacity 0.3s;

		&-active {
			opacity: 1;
			transform: translateX(0);
		}

		&__item {
			margin: 0.8em;
			font-size: 2.2rem;
			font-weight: bold;
			color: $mainText;
			cursor: pointer;

			&:hover {
				color: $thirdColor;
			}

			&:first-child {
				margin-top: 40px;
			}
		}

		&__btn-open {
			min-width: 100%;
			display: flex;
			@include fJcAi(flex-end, center);
			padding: 2em;

			&-el {
				color: $mainText;
			}
		}

		&-large {
			display: none;
		}
	}
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding-top: 17.4rem;
	margin-bottom: 4rem;
	background-image: url(../../dist/img/header.jpg);
	@include imgCover;
	width: 100%;
	min-height: 100vh;

	&::after {
		@include aContent;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
		z-index: 0;
	}

	&__title {
		@include fd(column);
		@include fJcAi(flex-start, center);
		position: relative;
		padding: 1rem;
		text-align: center;
		z-index: 1;

		& p {
			margin: 1rem;
			font-size: 2.4rem;
		}

		& h1 {
			font-size: 3.2rem;
			color: $mainColor;
		}
	}

	&__text {
		display: inline-block;
		margin: 4rem 20px;
		color: $mainText;
		font-size: 2rem;
		z-index: 1;
		letter-spacing: 3px;
	}

	&__btn {
		margin-top: 10%;
		margin-bottom: 4rem;
		padding: 1em;
		width: 50%;
		font-size: 1.5rem;
		text-transform: uppercase;
		color: $mainText;
		background-color: transparent;
		border: 1px solid $thirdColor;
		border-radius: 12px;
		cursor: pointer;
		transition: background-color 0.3s;

		&:hover {
			background-color: $thirdColor;
			color: $mainText;
		}
	}
}

.oferts {
	&__title {
		@include frcc;
		position: relative;
		height: 200px;
		width: 100%;
		background-image: url(../../dist/img/oferts.jpg);
		@include imgCover;

		&::after {
			@include aContent;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 0;
		}

		& p {
			font-size: 3.2rem;
			font-weight: bold;
			color: $mainColor;
			text-transform: uppercase;
			z-index: 100;
		}
	}

	&__cards {
		@include fccc;
		background-color: #ddd;

		&__element {
			margin: 1rem 2rem;
			background-color: #fff;
			border-radius: 12px;

			&:first-child {
				margin-top: 40px;
			}
			&:last-child {
				margin-bottom: 40px;
			}

			&__title {
				@include frcc;

				& h2 {
					margin-top: 2rem;
					font-size: 1.6rem;
					text-align: center;
					text-transform: uppercase;
					letter-spacing: 5px;
					color: $secondText;
				}
			}
			&__text {
				@include frcc;
				& p {
					margin: 1em;
					color: $secondText;
				}
			}
		}
	}
}

.idea__section {
	margin: 4rem 0;
	background-color: $secondColor;
}

.idea {
	@include fccc;
	flex-direction: column;
	padding: 4rem 2rem;
	height: 100%;
	background-color: transparent;

	&__photo {
		@include fccc;
		order: 2;

		& img {
			margin: 2rem;
			width: 100%;
			border-radius: 12px;
		}
	}

	&__area {
		@include fccc;
		padding: 0 1rem;
		text-align: center;
		order: 1;

		& h3 {
			font-size: 3rem;
			font-weight: bold;
			color: $mainColor;
			text-transform: uppercase;
		}

		& p {
			padding: 2rem;
		}

		& a .icon {
				width: 4rem;
			}
		} 

		& p:last-child {
			padding: 0;
			color: $thirdColor;
			text-transform: uppercase;
		}
	}


.motto {
	&__img {
		@include frcc;
		position: relative;
		height: 300px;
		width: 100%;
		background-image: url(../../dist/img/pasja.jpg);
		@include imgCover;

		&::after {
			@include aContent;
			min-height: 300px;
			background-color: rgba(0, 0, 0, 0.6);
			z-index: 0;
		}

		& p {
			padding: 1em;
			font-size: 2.4rem;
			font-weight: 500;
			z-index: 1;
		}
	}
}

.footer {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	padding-top: 4rem;
	background-color: $secondColor;

	&__menu {
		order: 2;
		@include fccc;
		padding: 2rem;

		&__contact {
			@include fd(column);
			@include fJcAi(flex-start, flex-start);
			gap: 4rem;

			& h3 {
				font-size: 2rem;
			}

			&__number {
				@include fd(column);

				& .contact-link {
					transition: color 0.3s;
					&:hover {
						color: $thirdColor;
					}
				}
			}

			&__adres {
				@include fd(column);
			}
		}

		&__society {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin: 0;
		}
	}

	&__maps {
		order: 1;
		& iframe {
			margin: 1rem 0;
			width: 100%;
		}
	}

	&__copyright {
		order: 3;
		@include fd(column);
		@include fJcAi(space-evenly, center);
		padding: 2rem;

		& p {
			font-size: 1.6rem;

			&:last-child {
				margin: 0.5em;
				font-size: 1.2rem;
				color: #ffffff91;
			}
		}
	}
}

@import './_small';
@import './_medium';
@import './_large';
