* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Bebas Neue";
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 86px;
  font-size: 62.5%;
}

body {
  background-color: #ddd;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

h3 {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  cursor: pointer;
}

p {
  color: #fff;
  font-size: 1.8rem;
}

.icon {
  margin: 0.8rem;
  width: 3.5rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nav {
  position: fixed;
  min-width: 100%;
  background-color: #fff;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 24px 0px rgb(51, 51, 51);
          box-shadow: 0px 0px 24px 0px rgb(51, 51, 51);
}
.nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.nav__logo img {
  padding: 2rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 150px;
}
.nav__menu__btn-element {
  margin-right: 1em;
  padding: 0.3em 0.5em;
  font-size: 2rem;
  background-color: transparent;
  border: 1px solid #cf3e2a;
  border-radius: 12px;
  color: #292929;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transform-origin: 0;
          transform-origin: 0;
  cursor: pointer;
}
.nav__menu__btn-element:hover {
  background-color: #cf3e2a;
  color: #fff;
}
.nav__menu {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  min-height: 100vh;
  background-color: #292929;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}
.nav__menu-active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav__menu__item {
  margin: 0.8em;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.nav__menu__item:hover {
  color: #cf3e2a;
}
.nav__menu__item:first-child {
  margin-top: 40px;
}
.nav__menu__btn-open {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em;
}
.nav__menu__btn-open-el {
  color: #fff;
}
.nav__menu-large {
  display: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 17.4rem;
  margin-bottom: 4rem;
  background-image: url(../../dist/img/header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
}
.header::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}
.header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 1rem;
  text-align: center;
  z-index: 1;
}
.header__title p {
  margin: 1rem;
  font-size: 2.4rem;
}
.header__title h1 {
  font-size: 3.2rem;
  color: #fff;
}
.header__text {
  display: inline-block;
  margin: 4rem 20px;
  color: #fff;
  font-size: 2rem;
  z-index: 1;
  letter-spacing: 3px;
}
.header__btn {
  margin-top: 10%;
  margin-bottom: 4rem;
  padding: 1em;
  width: 50%;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #cf3e2a;
  border: 1px solid #cf3e2a;
  border-radius: 12px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.header__btn:hover {
  background-color: rgba(207, 61, 42, 0.5058823529);
  color: #fff;
}

.oferts__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 200px;
  width: 100%;
  background-image: url(../../dist/img/oferts.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.oferts__title::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 0;
}
.oferts__title p {
  font-size: 3.2rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  z-index: 10;
}
.oferts__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ddd;
}
.oferts__cards__element {
  margin: 1rem 2rem;
  background-color: #fff;
  border-radius: 12px;
}
.oferts__cards__element:first-child {
  margin-top: 40px;
}
.oferts__cards__element:last-child {
  margin-bottom: 40px;
}
.oferts__cards__element__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.oferts__cards__element__title h2 {
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #292929;
}
.oferts__cards__element__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.oferts__cards__element__text p {
  margin: 1em;
  color: #292929;
}

.idea__section {
  margin: 4rem 0;
  background-color: #292929;
}

.idea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  flex-direction: column;
  padding: 4rem 2rem;
  height: 100%;
  background-color: transparent;
}
.idea__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.idea__photo img {
  margin: 2rem;
  width: 100%;
  border-radius: 12px;
}
.idea__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
  text-align: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.idea__area h3 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
.idea__area p {
  padding: 2rem;
}
.idea__area a .icon {
  width: 4rem;
}
.idea p:last-child {
  padding: 0;
  color: #cf3e2a;
  text-transform: uppercase;
}

.motto__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url(../../dist/img/pasja.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.motto__img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
.motto__img p {
  padding: 1em;
  font-size: 2.4rem;
  font-weight: 500;
  z-index: 1;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 4rem;
  padding-top: 4rem;
  background-color: #292929;
}
.footer__menu {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}
.footer__menu__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 4rem;
}
.footer__menu__contact h3 {
  font-size: 2rem;
}
.footer__menu__contact__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__menu__contact__number .contact-link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.footer__menu__contact__number .contact-link:hover {
  color: #cf3e2a;
}
.footer__menu__contact__adres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__menu__society {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}
.footer__maps {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.footer__maps iframe {
  margin: 1rem 0;
  width: 100%;
}
.footer__copyright {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
}
.footer__copyright p {
  font-size: 1.6rem;
}
.footer__copyright p:last-child {
  margin: 0.5em;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.568627451);
}

.cookie {
  width: 100%;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  -webkit-box-shadow: 0px 5px 25px 5px rgb(66, 68, 90);
          box-shadow: 0px 5px 25px 5px rgb(66, 68, 90);
}
.cookie-box {
  padding: 4rem;
  text-align: center;
  font-size: 2rem;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-animation: show-cookies 0.5s 0.5s forwards;
          animation: show-cookies 0.5s 0.5s forwards;
}
.cookie-box p {
  padding-bottom: 2rem;
  color: #292929;
}

.cookie-btn,
.disclaimer-btn {
  padding: 2rem;
  margin: 2rem;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 12px;
  -webkit-box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  font-size: 1.8rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  letter-spacing: 2p;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}
.cookie-btn:hover,
.disclaimer-btn:hover {
  color: #fff;
  background-color: rgba(207, 61, 42, 0.5058823529);
}
.cookie-btn:focus,
.disclaimer-btn:focus {
  outline: none;
  color: rgba(207, 61, 42, 0.5058823529);
}
.cookie-btn:focus:hover,
.disclaimer-btn:focus:hover {
  color: #fff;
}

.disclaimer-text {
  padding: 2rem;
}

.hide-cookies {
  display: none;
}

@-webkit-keyframes show-cookies {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show-cookies {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@media (min-width: 576px) {
  .nav .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav__logo img {
    width: 160px;
  }
  .nav__menu__btn-element {
    display: none;
  }
  .nav__menu {
    display: none;
    position: relative;
    top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: auto;
    background-color: transparent;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
  }
  .nav__menu__item {
    margin: 0.8em;
    font-size: 1.6rem;
    color: #292929;
  }
  .nav__menu__item:first-child {
    margin: 0.8em;
  }
  .nav__menu-large {
    position: relative;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: auto;
    background-color: transparent;
  }
  .header {
    padding-top: 82px;
  }
  .motto__img p {
    font-size: 2.6rem;
  }
}
@media (min-width: 768px) {
  html {
    scroll-padding-top: 80px;
  }
  .header {
    padding-top: 82px;
  }
  .header__text {
    padding: 2rem 0;
    margin: 0;
    width: 60%;
    letter-spacing: 2.5px;
  }
  .header__text p {
    font-size: 2.2rem;
  }
  .idea__section {
    min-height: 500px;
  }
  .idea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }
  .idea__photo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .idea__photo img {
    margin: 2rem;
    max-width: 50rem;
    border-radius: 12px;
  }
  .idea__area {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    padding: 0 2rem;
    width: 50%;
    height: 500px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .idea__area p {
    font-size: 2rem;
    letter-spacing: 2px;
  }
  .idea__area a .icon {
    width: 6rem;
  }
  .motto__img p {
    font-size: 2.8rem;
    letter-spacing: 4px;
  }
  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 4rem;
  }
  .footer__menu__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4rem;
  }
  .footer__menu__contact__number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu__contact h3 {
    font-size: 2.4rem;
  }
  .footer__menu__contact__adres {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu__society {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__menu__society .contact-element .fa-brands {
    font-size: 3rem;
  }
}
@media (min-width: 992px) {
  .nav .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__logo {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav__logo img {
    width: 200px;
  }
  .nav__menu {
    position: relative;
    top: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    min-height: auto;
    background-color: transparent;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-transition: none;
    transition: none;
  }
  .nav__menu__item {
    font-size: 2rem;
    color: #333;
  }
  .header {
    padding-top: 82px;
  }
  .header__text {
    width: 55%;
    letter-spacing: 4px;
  }
  .header__text h2 {
    margin: 4rem;
  }
  .header__text p {
    font-size: 3rem;
  }
  .header__btn {
    width: 20%;
  }
  .oferts {
    background-color: #fff;
  }
  .oferts__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 400px;
  }
  .oferts__title p {
    font-size: 4.8rem;
  }
  .oferts__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    height: 60rem;
  }
  .oferts__cards__element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 3rem 0;
    width: 30%;
    height: 80%;
    border-radius: 8px;
    -webkit-box-shadow: 8px 8px 24px 0px rgb(51, 51, 51);
            box-shadow: 8px 8px 24px 0px rgb(51, 51, 51);
    letter-spacing: 2px;
  }
  .oferts__cards__element:first-child {
    margin-top: 3rem;
  }
  .oferts__cards__element:last-child {
    margin-bottom: 3rem;
  }
  .oferts__cards__element__title h2 {
    font-size: 2.2rem;
  }
  .oferts__cards__element__text p {
    font-size: 1.8rem;
  }
  .idea__area h3 {
    font-size: 3.4rem;
  }
  .footer__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer__menu__contact__number {
    margin-right: 4rem;
    margin-left: 0;
    margin-bottom: 0;
  }
  .footer__maps {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}/*# sourceMappingURL=style.css.map */